/* .header__nav-button {
  background-color: rgba(2, 9, 25, .9);
  border-radius: 10px;
  border: 1px solid #656498;
  margin-left: 40px;
  font-size: 18px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
} */